<form ng-submit=note.save(note.note) name="myForm" novalidate>

    <input type="text" name="currentNoteTitle" ng-model=note.currentNoteTitle required>
    <span style="color:red" ng-show="myForm.currentNoteTitle.$dirty && myForm.currentNoteTitle.$invalid">
    <span ng-show="myForm.currentNoteTitle.$error.required">Title is required.</span>
    </span>



    <br>


    <textarea ng-model=note.note.text name="text" required></textarea>
    <span style="color:red" ng-show="myForm.text.$dirty && myForm.text.$invalid">
    <span ng-show="myForm.text.$error.required">Text is required.</span>
    </span>


    <br>

    <p>
    <input type="submit" ng-disabled="myForm.$invalid" value="Save Note">
    </p>


</form>
